* {
  font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
  background-image: url('https://i.pinimg.com/564x/f7/a0/84/f7a084e098549cbb73cfc03915e4a3a2.jpg');
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
.navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: green;
  color: white;
}

.emma {
  width: 60vw;
}

.links {
  color: rgb(223, 160, 83);
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
  text-shadow: rgb(50, 40, 26) 1px 0 10px;
}

/* footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between the links */
/* } */
